.header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #0a3d62;
  color: white;
}

.header-left {
  flex: 0 0 auto;
}

.logo {
  width: 80px;
  height: 80px;
}

.header-right {
  margin-left: 20px;
}

.header-right h1 {
  margin: 0;
  font-size: 26px;
}

.header-right p {
  margin: 5px 0 0;
  font-size: 14px;
}
